@font-face {
    src: url(/fonts/roboto/Roboto-Regular.ttf);
    font-family: "roboto";
    font-weight: 400;
}
@font-face {
    src: url(/fonts/roboto/Roboto-Light.ttf);
    font-family: "roboto-light";
    font-weight: 200;
}

body {
    margin: 0;
    padding: 0;
}

.header--dark {
    background-color: rgb(51, 57, 64);
    color: rgb(236, 236, 236);
    height: 4em;
    line-height: 4em;
    display: block;
}

.header__title {
    display: inline;
    font-size: 1.25rem;
    font-family: "roboto-light";
    padding-left: 1em;
}

.header__title span {
    position: absolute;
    left: 19%;
    top: 1em;
    color: rgb(120, 120, 120);
}

.header__search--greyOne {
    color: rgb(120, 120, 120);
    padding-left: 1em;   
}

.header__search--greyTwo {
    color: rgb(120, 120, 120);
}

.header__search {
    display: inline;
    float: right;
    padding-right: 1em
    
}

.search__input {
    border: 2px solid transparent;    
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 0.375rem 0.75rem;
    font-size: 1.2rem; 
    transition: border 0.5s ease-in; 
    outline: transparent;       
}

.search__input:focus {
    border-color: rgb(128, 189, 255); 
}

.search__btn {
    border: 2px solid transparent;
    width: 2.5em;
    background-color: rgb(0, 123, 255);
    padding: 0.375rem 0.375rem;
    margin-left: -0.2em;
    color: white;
    font-size: 1.2em;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px; 
    outline: transparent;
    
}

.search__btn:hover {
    background-color: rgb(0, 100, 255);
}



main {
    display: flex;
}

aside {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 18vw;
}

section {
    width: 77vw;
    height: 100vh;
    padding-left: 2em;
    padding-top: 2em;    
}

/*Navigation*/

.main__nav {
    margin: 0;
    background-color: rgb(33, 37, 41);
    height: 100%;
}

.nav__ul {
    list-style-type: none;
    margin: 0;
    padding-left: 1em;
    padding-top: 1em;
    color: rgb(120, 120, 120);
    font-family: "roboto";
}

.nav__ul li span {
    float: right;
    padding-right: 1.5em;       
}

.small-nav {
    font-size: 12px;
    font-weight: bolder;
    color: rgb(80, 80, 80);
}

.nav__ul li {
    padding-top: 1.5em;
    padding-bottom: 1em;
}

.white-li {
    color: white;
    font-weight: 100;
}

li h4 {
    width: 0.1em;
    padding: 0;
    margin-left: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}

@media screen and (max-width: 700px) {
    li h4{color: transparent;  
    }
}

/*section*/

.content h1 {
   font-family: "roboto";
   font-size: 3em;
    margin: 0;
}


.main__breadcrumb {
    background-color: rgb(233, 236, 239);
    border-radius: .25rem;
    padding: 1rem 1.5rem;
    font-family: "roboto";
    color:rgb(150, 150, 150)
}

/*cards*/

.main__cards {
    display: flex;
    width: 100%;
}

.main__card {
    width: 25%;
   margin-top: 2em;
    color: white;
    font-family: inherit;
    border-radius: .25rem;
    box-shadow: 0 0 2px rgb(100, 100, 100);
}





.card__top {
    background-color: transparent;
border-top-left-radius: .25rem;
border-top-right-radius: .25rem;
height: 5em;
line-height: 5em;
padding-left: 1.5em;
font-family: "roboto";
transition: background .3s ease-out;
}

.card__top:hover{
    background-color:rgb(158, 158, 157);
}

.card__bottom {
border-bottom-left-radius: .25rem;
border-bottom-right-radius: .25rem;
height: 3em;
line-height: 3em;
padding-left: 1.5em;
font-family: "roboto-light";
font-size: 14px;
transition: background .3s ease-out;
} 

.card__bottom:hover {
    background-color: rgb(187, 187, 187);
}

.card__bottom span {
    float: right;
    padding-right: 1.5em;
    height:2.8em;
    line-height: 2.8em;
}

.card__bottom--blue {    
background-color: rgb(0, 115, 255);
border-top: solid 2px rgb(0, 112, 255);
}

.card__bottom--yellow {
    background-color: rgb(255, 185, 7);
border-top: solid 2px rgb(255, 180, 7);
}

.card__bottom--green {
    background-color: rgb(40, 158, 69);
border-top: solid 2px rgb(40, 155, 69);
}

.card__bottom--red {
    background-color:rgb(210, 53, 69);
border-top: solid 2px rgb(202, 53, 69);
}

.main__card--blue {
    background-color: rgb(0, 123, 255) ;
}

.main__card--yellow {
    background-color: rgb(255, 193, 7);
    margin-left: 2em;
    margin-right: 1em;
}

.main__card--green {
    background-color: rgb(40, 167, 69);
    margin-left: 1em;
    margin-right: 2em;
}

.main__card--red {
    background-color: rgb(220, 53, 69);
}

.card__top.card__bottom {
    background-color: .3s
}

@media screen and (max-width: 700px) {
    .main__cards{
        display: inline-block;
    }
    .main__card {
        width: 100%;
        margin-left: 0;
        margin-right: 0;        
    }
}
